.light {
	--background: #fff;
	--foreground: #333;
}

.dark {
	--background: #2e3440;
	--foreground: #d8dee9;
}

.darker {
	--background: #000;
	--foreground: #d8dee9;
}


html,
body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
	hyphens: auto;
	margin: 32px auto;
	max-width: 40rem;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 32px;
}

.theme {
	align-items: center;
	display: flex;
}

.text {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0;
	max-width: 40rem;
	white-space: pre-line;
}

img {
	margin: 16px 0;
	max-width: 100%;
}

label,
input {
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0;
}

form {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

input {
	border: 1px solid var(--foreground);
	border-radius: 22px;
	background-color: var(--background);
	color: var(--foreground);
	height: 44px;
	box-sizing: border-box;
}

input[type=submit] {
	cursor: pointer;
}

input[type=url] {
	padding: 4px 22px;
	margin: 22px 0;
	flex: 1 1 auto;
}

input:focus {
	outline: none;
}

select {
	margin-left: auto;
	margin-right: auto;
}

@media(min-width: 500px) {
	form {
		align-items: baseline;
		flex-direction: row;
		justify-content: center;
		max-width: 600px;
	}

	input[type=url] {
		margin: 22px;
	}

	input[type=submit] {
		flex: 0 0 auto;
		width: 44px;
	}
}
